@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-pagination-bullet {
  background: #aaa !important; /* gris claro */
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: #000 !important; /* negro */
}
